<div class="flex justify-center mt-4">
    <nav aria-label="Pagination">
        <ul class="flex list-none items-center">
            <li (click)="disminuir()"
                class="flex items-center p-2 border border-white hover:bg-gray-100 hover:rounded hover:cursor-pointer active:border-slate-900 active:rounded">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                    </svg>
                </div>
                <div class="mr-2">
                    <a class="text-slate-900 rounded" aria-disabled="true">Prev</a>
                </div>
            </li>
            <span *ngFor="let page of paginas">
                <li (click)="sendPage(page)"
                    class="hover:cursor-pointer hover:bg-gray-100 active:border-slate-900 active:rounded  px-4 py-2 mx-1 text-slate-900 bg-white border border-white">
                    <a>
                        {{ page }}
                    </a>
                </li>
            </span>
            <li (click)="aumentar()"
                class="flex items-center p-2 border border-white hover:bg-gray-100 hover:rounded hover:cursor-pointer active:border-slate-900 active:rounded">
                <div>
                    <a class="ml-2 text-slate-900">Next</a>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                </div>
            </li>
        </ul>
    </nav>
</div>