<div class="flex flex-col h-screen">
    <app-nav />
    <div class="w-full flex flex-1 justify-center items-center bg-cover bg-center"
        style="background-image: url('images/RENOVABLES.jpg');">
        <div class="w-2/4 h-fit p-5 rounded bg-white bg-opacity-70 text-sm">
            <h1 class="text-3xl text-center mb-5">Energias Renovables</h1>
            <p>
                Visualización y análisis de datos sobre la producción y el consumo de energías renovables,
                específicamente
                energía solar, hidroeléctrica y eólica.
            </p>
            <p>
                La herramienta proporciona acceso a información clara y concisa mediante gráficos interactivos y
                dashboards personalizables. Estos gráficos facilitan la comprensión de las tendencias en producción y
                consumo, y permiten realizar análisis comparativos entre diversas fuentes de energía renovable. Además,
                evalúa el rendimiento a lo largo del tiempo, lo que ayuda a identificar las opciones más eficientes y
                sostenibles.
            </p>
            <p>
                No solo se fomenta la sostenibilidad al proporcionar datos claros sobre energías renovables,
                sino que también permite a los usuarios tomar decisiones más acertadas sobre la gestión de recursos
                energéticos. Al aumentar la conciencia sobre la importancia de las energías renovables, contribuye a
                educar a los
                usuarios sobre cómo utilizarlas de manera efectiva, impulsando así un futuro más sostenible y eficiente.
            </p>
        </div>
    </div>
</div>