<div class="flex flex-col justify-center">
    <div class="flex justify-center mb-2">
        <div class="flex items-center gap-8">
            <p class="flex items-center">Solar <span class="inline-block w-8 h-6 rounded bg-yellow-500 ml-2"></span></p>
            <p class="flex items-center">Eolica <span class="inline-block w-8 h-6 rounded bg-emerald-600 ml-2"></span>
            </p>
            <p class="flex items-center">Hidroeléctrica <span
                    class="inline-block w-8 h-6 rounded bg-blue-500 ml-2"></span></p>
        </div>
    </div>
    <canvas id="myChart" class="px-10"></canvas>
</div>